In [49]:
import pandas as p
import numpy as np
import matplotlib.pyplot as plt
import datetime
import plotly.graph_objs as go

ModuleNotFoundError: No module named 'plotly'

In [40]:
data=p.read_csv("data-samples/heart_2020_cleaned.csv",encoding='unicode_escape')

In [41]:
data.head()

,HeartDisease,BMI,Smoking,AlcoholDrinking,Stroke,PhysicalHealth,MentalHealth,DiffWalking,Sex,AgeCategory,Race,Diabetic,PhysicalActivity,GenHealth,SleepTime,Asthma,KidneyDisease,SkinCancer
0,No,16.60,Yes,No,No,3.0,30.0,No,Female,55-59,White,Yes,Yes,Very good,5.0,Yes,No,Yes
1,No,20.34,No,No,Yes,0.0,0.0,No,Female,80 or older,White,No,Yes,Very good,7.0,No,No,No
2,No,26.58,Yes,No,No,20.0,30.0,No,Male,65-69,White,Yes,Yes,Fair,8.0,Yes,No,No
3,No,24.21,No,No,No,0.0,0.0,No,Female,75-79,White,No,No,Good,6.0,No,No,Yes
4,No,23.71,No,No,No,28.0,0.0,Yes,Female,40-44,White,No,Yes,Very good,8.0,No,No,No

In [35]:
data.isna().any()

SIC Code       False
Description    False
dtype: bool

In [36]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 731 entries, 0 to 730
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   SIC Code     731 non-null    int64
 1   Description  731 non-null    object
dtypes: int64(1), object(1)
memory usage: 11.5+ KB

In [48]:
data.describe()

                 BMI  PhysicalHealth   MentalHealth      SleepTime
count  319795.000000    319795.00000  319795.000000  319795.000000
mean       28.325399         3.37171       3.898366       7.097075
std         6.356100         7.95085       7.955235       1.436007
min        12.020000         0.00000       0.000000       1.000000
25%        24.030000         0.00000       0.000000       6.000000
50%        27.340000         0.00000       0.000000       7.000000
75%        31.420000         2.00000       3.000000       8.000000
max        94.850000        30.00000      30.000000      24.000000

In [47]:
layout=go.layout(
    title="Stoke graphs",
    xaxis=dict(
    title="MentalHealth",
        titlefont=dict(
            family="courier New, monospace",
            size=18,
            color="#453123"
        )
    ),
    yaxis=dict(
    title="SleepTime",
        titlefont=dict(
            family="courier New, monospace",
            size=18,
            color="#453123"
        )
    )
    
)
_data=[{'x':data["MentalHealth"],'y':data["SleepTime"]}]
plot=go.figure(data=_data,layout=layout)

/var/folders/zp/d0_f8bk52ws_wsm_frnw4f8h0000gn/T/ipykernel_9421/1286739996.py:1: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['AgeCategory', 'AlcoholDrinking', 'Asthma', 'Diabetic', 'DiffWalking',
       'GenHealth', 'HeartDisease', 'KidneyDisease', 'PhysicalActivity',
       'Race', 'Sex', 'SkinCancer', 'Smoking', 'Stroke'],
      dtype='object')
  data.rolling(7).mean().head(20)

          BMI  PhysicalHealth  MentalHealth  SleepTime
0         NaN             NaN           NaN        NaN
1         NaN             NaN           NaN        NaN
2         NaN             NaN           NaN        NaN
3         NaN             NaN           NaN        NaN
4         NaN             NaN           NaN        NaN
5         NaN             NaN           NaN        NaN
6   23.134286       10.285714      8.571429   7.142857
7   25.282857       10.571429      4.285714   7.714286
8   26.155714       10.571429      4.285714   7.428571
9   28.171429        7.714286      0.000000   7.714286
10  29.612857       12.000000      0.000000   9.000000
11  30.327143        8.000000      0.000000   8.571429
12  30.255714        7.142857      0.000000   8.000000
13  31.187143        6.000000      0.000000   8.428571
14  30.851429        5.285714      4.285714   7.857143
15  31.241429        5.428571      4.285714   8.000000
16  29.180000        6.142857      4.571429   8.000000
17  27.507143        1.857143      8.857143   7.000000
18  27.671429        1.857143      8.857143   7.000000
19  26.208571        1.857143      8.857143   7.000000

In [ ]:
data.rolling(7).mean().head(20)