In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime
from plotly import graph_objs as go
from plotly.offline import iplot
from sklearn.datasets import load_wine
%matplotlib inline

In [2]:
# data=pd.read_csv('data-samples/train.csv',index_col=[0],parse_dates=True,squeeze=True)
data=pd.read_csv('data-samples/train.csv')

In [3]:
type(data)

pandas.core.frame.DataFrame

In [4]:
data.head()

            store  item  sales
date
2013-01-01      1     1     13
2013-01-02      1     1     11
2013-01-03      1     1     14
2013-01-04      1     1     13
2013-01-05      1     1     10

In [5]:
data.drop(['store','item'], axis=1, inplace=True)

In [6]:
data.head()

            sales
date
2013-01-01     13
2013-01-02     11
2013-01-03     14
2013-01-04     13
2013-01-05     10

In [7]:
# data.plot()

In [8]:
# data.plot.bar()

In [7]:
data.isna().any()

sales    False
dtype: bool

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 913000 entries, 2013-01-01 to 2017-12-31
Data columns (total 1 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   sales   913000 non-null  int64
dtypes: int64(1)
memory usage: 13.9 MB

In [11]:
data.describe()

               sales
count  913000.000000
mean       52.250287
std        28.801144
min         0.000000
25%        30.000000
50%        47.000000
75%        70.000000
max       231.000000

In [12]:
# data[["date","sales"]].plot(kind='box')

In [13]:
data_roling=data.rolling(window=10).mean()

In [14]:
# data_roling.plot()

In [15]:
base_data=pd.concat([data,data.shift(1)],axis=1)

In [16]:
base_data

            sales  sales
date
2013-01-01     13    NaN
2013-01-02     11   13.0
2013-01-03     14   11.0
2013-01-04     13   14.0
2013-01-05     10   13.0
...           ...    ...
2017-12-27     63   41.0
2017-12-28     59   63.0
2017-12-29     74   59.0
2017-12-30     62   74.0
2017-12-31     82   62.0

[913000 rows x 2 columns]

In [17]:
base_data.columns=["A_sales","F_sales"]

In [18]:
base_data.head()

            A_sales  F_sales
date
2013-01-01       13      NaN
2013-01-02       11     13.0
2013-01-03       14     11.0
2013-01-04       13     14.0
2013-01-05       10     13.0

In [19]:
base_data.dropna(inplace=True)

In [20]:
base_data

            A_sales  F_sales
date
2013-01-02       11     13.0
2013-01-03       14     11.0
2013-01-04       13     14.0
2013-01-05       10     13.0
2013-01-06       12     10.0
...             ...      ...
2017-12-27       63     41.0
2017-12-28       59     63.0
2017-12-29       74     59.0
2017-12-30       62     74.0
2017-12-31       82     62.0

[912999 rows x 2 columns]

In [21]:
base_data.head()

            A_sales  F_sales
date
2013-01-02       11     13.0
2013-01-03       14     11.0
2013-01-04       13     14.0
2013-01-05       10     13.0
2013-01-06       12     10.0

In [22]:
from sklearn.metrics import mean_squared_error

In [23]:
data_error=mean_squared_error(base_data.A_sales,base_data.F_sales)

In [24]:
data_error

201.6741759848587

In [25]:
np.sqrt(data_error)

14.201203328762626

In [26]:
from statsmodels.graphics.tsaplots import plot_acf,plot_pacf

In [ ]:
plot_acf(data)

In [ ]:
plot_pacf(data)

In [ ]:
from statsmodels.tsa.arima_model import ARIMA

In [ ]:
train=data[0:50]
test=data[25:36]

In [ ]:
model = ARIMA(data, order=(2,1,0))

In [ ]:
model_fit = model.fit(disp=0)

In [ ]:
model_fit.aic

In [ ]:
forecast = model_fit.forecast(steps=11)[0]

In [ ]:
np.sqrt(mean_squared_error(test,forecast))

In [8]:
# Building the regression model
from sklearn.model_selection import train_test_split

#For preprocessing
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler

#For model evaluation
from sklearn.metrics import mean_squared_error as mse, accuracy_score
from sklearn.metrics import r2_score

In [10]:
X =data.iloc[:, :-1].values
y = data.iloc[:, 0].values
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size =0.2, random_state = 0)

In [11]:
X

array([], shape=(913000, 0), dtype=float64)

In [12]:
y

array([13, 11, 14, ..., 74, 62, 82])

In [13]:
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeClassifier
regressor = DecisionTreeClassifier()
regressor.fit(X_train, y_train)
predictions = regressor.predict(X_test)
predictions = regressor.predict(X_test)
print(predictions)
accuracy_score(y_test,predictions)

ValueError: Found array with 0 feature(s) (shape=(730400, 0)) while a minimum of 1 is required.